<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Add New Blog</title>
</head>
<body>
    <%- include('./partials/scripts') %>
    
    <%- include('./partials/nav') %>
</body>
</html>